In [8]:
import pandas as pd

In [9]:
input_data=pd.read_csv("input.csv")

In [10]:
actual_data=input_data["median_house_value"]

In [11]:
output_data=pd.read_csv("output.csv")

In [12]:
predicted_data=output_data["median_house_value"]

In [15]:
result=pd.concat([actual_data,predicted_data],axis=1)

In [18]:
result

      median_house_value  median_house_value
0               500001.0           483020.60
1               162500.0           221708.09
2               204600.0           205706.00
3               159700.0           170623.00
4               184000.0           212497.00
...                  ...                 ...
4123            110000.0           143286.00
4124            118800.0           111034.00
4125            293800.0           353892.17
4126            335700.0           323048.09
4127            215600.0           228211.00

[4128 rows x 2 columns]

In [21]:
result.columns=['test_value','predictions']

In [22]:
result

      test_value  predictions
0       500001.0    483020.60
1       162500.0    221708.09
2       204600.0    205706.00
3       159700.0    170623.00
4       184000.0    212497.00
...          ...          ...
4123    110000.0    143286.00
4124    118800.0    111034.00
4125    293800.0    353892.17
4126    335700.0    323048.09
4127    215600.0    228211.00

[4128 rows x 2 columns]

In [23]:
result.describe()

<bound method NDFrame.describe of       test_value  predictions
0       500001.0    483020.60
1       162500.0    221708.09
2       204600.0    205706.00
3       159700.0    170623.00
4       184000.0    212497.00
...          ...          ...
4123    110000.0    143286.00
4124    118800.0    111034.00
4125    293800.0    353892.17
4126    335700.0    323048.09
4127    215600.0    228211.00

[4128 rows x 2 columns]>